# HW3

In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats
import statistics
from math import sqrt

In [20]:
PATH = "E:/Uni/Term 3 - Fall 1400/Statistics/Coding HWs/3/file.csv"
dataFrame = pd.read_csv(PATH)
dataFrame = dataFrame.drop(['Unnamed: 0'], axis=1)
dataFrame.head()

,minority,age,gender,credits,beauty,eval,division,native,tenure,students,allstudents,prof,PrimaryLast,vismin,female,single_credit,upper_division,English_speaker,tenured_prof
0,yes,36,female,more,0.289916,4.3,upper,yes,yes,24,43,1,0,1,1,0,1,1,1
1,yes,36,female,more,0.289916,3.7,upper,yes,yes,86,125,1,0,1,1,0,1,1,1
2,yes,36,female,more,0.289916,3.6,upper,yes,yes,76,125,1,0,1,1,0,1,1,1
3,yes,36,female,more,0.289916,4.4,upper,yes,yes,77,123,1,1,1,1,0,1,1,1
4,no,59,male,more,-0.737732,4.5,upper,yes,yes,17,20,2,0,0,0,0,1,1,1

In [21]:
dataFrame.shape

(463, 19)

 # Question 1

In [22]:
eval_mean = round(dataFrame['eval'].mean(), 3)
eval_sd = round(dataFrame['eval'].std(), 3)
prob_grt = scipy.stats.norm.cdf((4.2 - eval_mean)/eval_sd) # Prob of greater than 4.2
prob_less = scipy.stats.norm.cdf((3.5 - eval_mean)/eval_sd) # Prob of greater than 3.5
print(prob_grt - prob_less) # Prob of greater than 3.5 and less than 4.2

0.4572773913175306

# Question 2

In [23]:
eval_mean = round(dataFrame['eval'].mean(), 3)
eval_sd = round(dataFrame['eval'].std(), 3)
prob = scipy.stats.norm.cdf((3.3 - eval_mean)/eval_sd) # Prob of greater than 3.3
print(1 - prob)

0.8957422041794154

# Question 3

In [15]:
eval_mean = round(dataFrame['eval'].mean(), 3)
eval_sd = round(dataFrame['eval'].std(), 3)
prob_grt = scipy.stats.norm.cdf((3 - eval_mean)/eval_sd) # Prob of greater than 3
prob_less = scipy.stats.norm.cdf((2 - eval_mean)/eval_sd) # Prob of greater than 2
print(prob_grt - prob_less) # Prob of between 2 and 3

0.03591369391246606

# Question 4

In [16]:
def Average(lst): # Calculate mean
    return sum(lst) / len(lst) 
n = 12
results = [116, 111, 101, 120, 99, 94, 106, 115, 107, 101, 110, 92]
average = Average(results)
stn_dev = statistics.stdev(results) # Calculate the standard deviation

# H0
z = (average - 100) / ( stn_dev / sqrt(n) )
print("The score of Z-test is:" , z)

The score of Z-test is: 2.353393621658208

# Question 5 - Poisson

In [17]:
from scipy.stats import poisson
print("Probability of 0 job:", poisson.cdf(k=0,mu=2))
print("Probability of exactly 2 jobs:", poisson.pmf(k=2,mu=2))
print("Probability of at most 3 arrivals:", poisson.cdf(k=3,mu=2))

Probability of 0 job: 0.1353352832366127
Probability of exactly 2 jobs: 0.2706705664732254
Probability of at most 3 arrivals: 0.857123460498547